.account-btn {
    min-width: 10rem;
}

.account-card {
    min-height: 25rem;
}

.header-center {
    text-align: center;
    padding: 10px;
  }

.ff-play-btn-clickable:hover {
    cursor: pointer;
}