<i class="bi bi-person-square h1"></i>

<h3>About me</h3>
<div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt, diam a eleifend gravida, purus metus semper tortor, quis malesuada magna ante ut nulla. Ut posuere odio id nulla finibus, eget pellentesque mauris tincidunt. In iaculis est orci, vel ullamcorper dui elementum et. Maecenas lobortis, mi aliquam mollis suscipit, eros est ultrices nibh, nec egestas lacus massa eu ipsum. Mauris molestie velit risus. Morbi et nibh blandit, eleifend urna id, placerat urna. Aenean placerat, elit eget interdum ultrices, nulla est commodo nisi, in hendrerit metus lacus ac dolor. Nam ullamcorper dapibus turpis, elementum pharetra augue maximus sit amet.</p>
</div>